<ion-view title="Signup" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="signup-form7" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input10">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input11">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input12">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="signup-button8" class="button button-stable button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>